In [34]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

from pyspark.sql.types import *

from pyspark.sql import functions

conf = SparkConf().setAppName("Sql TELECOM").setMaster("local")

sc = SparkContext.getOrCreate(conf)

sqlCxt = SQLContext(sc)

queryClient = sqlCxt.read.csv('cliente.csv',StructType([StructField("Plan_mes",StringType(),True),
                                                        StructField("mes",DecimalType(),False),
                                                        StructField("nro",DecimalType(),False)]),
                                    header=True,sep=";")
queryClient.registerTempTable('CLIENTES')

queryClient.show()

+--------+---+---+
|Plan_mes|mes|nro|
+--------+---+---+
|   95729|  1|  1|
|   96410|  1|  3|
|   96400|  1|  2|
|   95729|  1|  5|
|   95420|  1|  4|
|   96409|  1|  6|
|   94497|  1|  8|
|   95982|  1|  7|
|   96262|  1|  9|
|   93720|  1| 10|
|   94465|  1| 11|
|   96308|  1| 12|
|   96385|  1| 13|
|   95744|  1| 14|
|   96385|  1| 15|
|   93618|  1| 16|
|   96262|  1| 18|
|   95982|  1| 17|
|   96133|  1| 20|
|   96234|  1| 19|
+--------+---+---+
only showing top 20 rows

In [2]:
queryFactura = sqlCxt.read.csv('facturacion.csv',StructType([StructField("Facturacion",DecimalType(),True),
                                                        StructField("nro_cliente",ByteType(),False),
                                                        StructField("mes",StringType(),False)]),
                                    header=True,sep=";")
queryFactura.registerTempTable('FACTURACION')

queryFactura.show()

+-----------+-----------+---+
|Facturacion|nro_cliente|mes|
+-----------+-----------+---+
|        936|          1|  1|
|       1353|          2|  1|
|        602|          3|  1|
|        848|          4|  1|
|        424|          5|  1|
|        848|          6|  1|
|        848|          7|  1|
|        495|          8|  1|
|        598|          9|  1|
|        602|         10|  1|
|       1045|         11|  1|
|        586|         12|  1|
|        410|         13|  1|
|        410|         14|  1|
|        410|         15|  1|
|        601|         16|  1|
|        593|         17|  1|
|        387|         18|  1|
|        602|         19|  1|
|        512|         20|  1|
+-----------+-----------+---+
only showing top 20 rows

In [3]:
queryCall = sqlCxt.read.csv('llamadas.csv',StructType([StructField("Cantidad_llamadas",ByteType(),True),
                                                        StructField("Duracion_Llamadas_minutos",StringType(),False),
                                                        StructField("nro_cliente",StringType(),False),
                                                        StructField("mes",StringType(),False),
                                                        StructField("tipo_llamada",StringType(),False)]),
                                    header=True,sep=";")
queryCall.registerTempTable('LLAMADAS')

queryCall.show()

+-----------------+-------------------------+-----------+---+------------+
|Cantidad_llamadas|Duracion_Llamadas_minutos|nro_cliente|mes|tipo_llamada|
+-----------------+-------------------------+-----------+---+------------+
|                1|                      285|         41|  1|    Saliente|
|                1|                       30|         42|  1|    Saliente|
|                1|                       30|         92|  1|    Saliente|
|                1|                       30|         94|  1|    Saliente|
|                1|                       80|        131|  1|    Saliente|
|                1|                       35|        131|  1|    Saliente|
|               12|                      691|        131|  1|    Saliente|
|                3|                      206|        158|  1|    Saliente|
|                2|                       65|        158|  1|    Saliente|
|                1|                      285|        177|  1|    Saliente|
|                2|                      793|        180|  1|    Saliente|
|                1|                      484|        304|  1|    Saliente|
|               25|                     4168|        304|  1|    Saliente|
|                4|                      120|        304|  1|    Saliente|
|                1|                      544|        304|  1|    Saliente|
|                1|                      120|        344|  1|    Saliente|
|                2|                       86|        344|  1|    Saliente|
|                2|                       97|        366|  1|    Saliente|
|                1|                      174|        390|  1|    Saliente|
|                4|                      678|        390|  1|    Saliente|
+-----------------+-------------------------+-----------+---+------------+
only showing top 20 rows

In [4]:
queryProv = sqlCxt.read.csv('provincia.csv',StructType([StructField("provincia",StringType(),False),
                                                        StructField("cliente",ByteType(),False)]),
                                    header=True,sep=";", encoding='iso-8859-15')
queryProv.registerTempTable('PROVINCIA')

queryProv.show()

+--------------------+-------+
|           provincia|cliente|
+--------------------+-------+
|               Chaco|      1|
|            Santa Fe|      2|
|           Cï¿œrdoba|      3|
|               Salta|      4|
|            Santa Fe|      5|
|          Corrientes|      6|
|            Santa Fe|      7|
|               Chaco|      8|
|        Buenos Aires|      9|
|               Chaco|     10|
|            Santa Fe|     11|
|    Tierra Del Fuego|     12|
|           Tucumï¿œn|     13|
|               Salta|     14|
|Ciudad Autï¿œnoma...|     15|
|Ciudad Autï¿œnoma...|     16|
|Ciudad Autï¿œnoma...|     17|
|Ciudad Autï¿œnoma...|     18|
|           Cï¿œrdoba|     19|
|               Chaco|     20|
+--------------------+-------+
only showing top 20 rows

## Questions

#### Calcular la facturación promedio, máxima, mínima de los últimos tres meses de los clientes 12-15-20.

In [20]:
rep = sqlCxt.sql(""" SELECT AVG(Facturacion), MIN(Facturacion), MAX(Facturacion) FROM FACTURACION WHERE nro_cliente = '12' """ )

rep.show()

+----------------+----------------+----------------+
|avg(Facturacion)|min(Facturacion)|max(Facturacion)|
+----------------+----------------+----------------+
|        586.0000|             586|             586|
+----------------+----------------+----------------+

In [18]:
rep = sqlCxt.sql(""" SELECT AVG(Facturacion), MIN(Facturacion), MAX(Facturacion) FROM FACTURACION WHERE nro_cliente = '15' """ )

rep.show()

+----------------+----------------+----------------+
|avg(Facturacion)|min(Facturacion)|max(Facturacion)|
+----------------+----------------+----------------+
|        435.0000|             410|             485|
+----------------+----------------+----------------+

In [19]:
rep = sqlCxt.sql(""" SELECT AVG(Facturacion), MIN(Facturacion), MAX(Facturacion) FROM FACTURACION WHERE nro_cliente = '20' """ )

rep.show()

+----------------+----------------+----------------+
|avg(Facturacion)|min(Facturacion)|max(Facturacion)|
+----------------+----------------+----------------+
|        542.0000|             512|             602|
+----------------+----------------+----------------+

#### Crear una marca en caso de que haya cambiado de plan en alguno de los tres meses. (subilo al repositorio en un archivo .csv)

In [41]:
rep2 = sqlCxt.sql(""" SELECT * FROM Clientes ORDER BY mes ,nro""")
rep2.show(5, truncate = False)

+--------+---+---+
|Plan_mes|mes|nro|
+--------+---+---+
|95729   |1  |1  |
|96400   |1  |2  |
|96410   |1  |3  |
|95420   |1  |4  |
|95729   |1  |5  |
+--------+---+---+
only showing top 5 rows